/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Flex Center Body */
body{
    height:100vh;
  
    

  
    background: linear-gradient(90deg,#0a0a0a,#2c2c2c);

    color: #0a0a0a;
}

/* Container */
.container{
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:20px;
   gap: 35px;
    flex-wrap: wrap;
    
    
}

/* Card */
.profile-card{
    /* height: 400px; */
    width:320px;
    background : linear-gradient( 135deg, #eaeaea, #5c5a5e);
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 25px rgba(39, 39, 39, 0.318);
    transition:0.4s;
}

/* Hover Effect */
.profile-card:hover{
    transform:translateY(-10px) scale(1.03);
    box-shadow:0 20px 40px rgba(126, 126, 126, 0.727);
}

/* Profile Image */
.profile-img{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
    border:6px solid #384fa3e0;
}

/* Text */
.profile-card h2{
    margin-bottom:5px;
}

.profile-card h4{
    /* color:rgb(244, 244, 244); */
    margin-bottom:15px;
}

.profile-card p{
    font-size:14px;
    /* color:#c6c6c6e4; */
    margin-bottom:20px;
    line-height:1.5;
}

/* Social Icons */
.social-icons a{
    margin:0 10px;
    font-size:22px;
    color:#7707e8;
    transition:0.3s;
}

.social-icons a:hover{
    color:#002be8;
    transform:scale(1.2);
}

/* Responsive */
@media(max-width:480px){
    .profile-card{
        width:90%;
        padding:20px;
    }

    .profile-img{
        width:100px;
        height:100px;
    }
}

.active{
   background: linear-gradient( 135deg, #eaeaea, #8e60bc);
}

