/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Flex Center Body */
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#667eea,#764ba2);
}

/* Container */
.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

/* Card */
.profile-card{
    width:320px;
    background:white;
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    transition:0.4s;
}

/* Hover Effect */
.profile-card:hover{
    transform:translateY(-10px) scale(1.03);
    box-shadow:0 20px 40px rgba(0,0,0,0.3);
}

/* Profile Image */
.profile-img{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
    border:4px solid #764ba2;
}

/* Text */
.profile-card h2{
    margin-bottom:5px;
}

.profile-card h4{
    color:gray;
    margin-bottom:15px;
}

.profile-card p{
    font-size:14px;
    color:#555;
    margin-bottom:20px;
    line-height:1.5;
}

/* Social Icons */
.social-icons a{
    margin:0 10px;
    font-size:22px;
    color:#764ba2;
    transition:0.3s;
}

.social-icons a:hover{
    color:#667eea;
    transform:scale(1.2);
}

/* Responsive */
@media(max-width:480px){
    .profile-card{
        width:90%;
        padding:20px;
    }

    .profile-img{
        width:100px;
        height:100px;
    }
}
